# IDE and development
/.idea/
*.iml

# Assets filtering
/assets/metadata/
/assets/less/
/assets/scss/
/assets/sprites/
/assets/svgs/
/assets/attribution.js
/assets/LICENSE.txt

# Assets filtering - only minified versions
/assets/css/*
/assets/js/*
!/assets/css/*.min.css
!/assets/js/*.min.js